name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-22.04

    container:
      image: hexpm/elixir:1.17.0-erlang-27.0-debian-bookworm-20240612

    steps:
      - name: Install git & jq
        run: |
          apt-get update
          apt-get install -y git jq

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          submodules: recursive

      - name: Update submodules
        run: |
          git config --global --add safe.directory /__w/elixir-representer/elixir-representer
          git submodule update --recursive --remote

      - name: Install / Build Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Run Tests
        run: |
          mix test

      - name: Run representer on example solutions on all exercises
        run: |
          ./bin/build.sh
          ./bin/run-all-exercises.sh

  build_and_test_on_docker:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@988b5a0280414f521da01fcc63a27aeeb4b104db
        with:
          install: true

      - name: Build Docker image and store in cache
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
        with:
          context: .
          push: false
          load: true
          tags: exercism/elixir-representer
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run Tests in Docker
        run: bin/run-tests-in-docker.sh
