name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-24.04

    container:
      image: hexpm/elixir:1.19.4-erlang-28.1-debian-bookworm-20251117

    steps:
      - name: Install git & jq
        run: |
          apt-get update
          apt-get install -y git jq

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          submodules: recursive

      - name: Update submodules
        run: |
          git config --global --add safe.directory /__w/elixir-representer/elixir-representer
          git submodule update --recursive --remote

      - name: Install / Build Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Run Tests
        run: |
          mix test

      - name: Run representer on example solutions on all exercises
        run: |
          ./bin/build.sh
          ./bin/run-all-exercises.sh

  build_and_test_on_docker:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2
        with:
          install: true

      - name: Build Docker image and store in cache
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          push: false
          load: true
          tags: exercism/elixir-representer
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run Tests in Docker
        run: bin/run-tests-in-docker.sh
